.footer {
    padding-bottom: 88px;
}

.footer__container {
    display: flex;
    padding: 47px 85px;
    background-color: #2C343E;
}

.logo__img {
    color: #fff;
}

.nav__list--footer {
    margin-left: 103px;
    margin-right: 369px;
    // white-space: wrap;
}

.nav__link--footer:hover {
    color: #FEFCF7;
}


// .nav--footer {
//     // white-space: wrap;
// }



