.socials {
    @include reset-list;
    display: flex;
}

.social {
    margin-right: 24px;

    &:last-child {
        margin-right: 0;
    }
}

.social__img {
    display: block;

    &:hover {
        background-color: #FDD6BA;
    }
}

